<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            {{partial:nav}}
        </div>
        <div class="col-lg-9">
            <div id="main-content" class="row">
                <div class="col-xs-12">
                    {{intro_movie}}
                </div>
                <div class="col-md-9">
                    {{title}}
                </div>
                <div class="col-md-3">
                    {{related-content}}
                </div>
            </div>
        </div>
    </div>
</div>